<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <% for (var i = 0; i < noms.length; i++) { %>
      <li><a href="/nominee/<%=noms[i].id%>"> <%=noms[i].name %> </a></li>
    <% } %>
  </ul>
  </body>
</html>
