<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Hello <%= info[0].name%> !</h1>
    <p> You are now ready to begin the QPCA process. See how easy that was? </p>
    <p> Now you are ready to begin reading and voting. Because we now use our own website, we have a lot of freedom! But let's talk about some stuff first! </p>
    <ul>
      <li>Your Safety Is Important To Us. If, at any time, you need to delete your QPCA account or change the password, message Madelaine Rhodes</li>
      <li>This website is designed for you. We want you to have the best experience possible. However, hosting a NODE JS application for up to 2,000 active users is not cheap. We will be showing ads to make this possible. Secondly, we are accepting donations through PayPal. </li>
      <li> Finally, we are introducing WritersDeserve. WritersDeserve is a platform for you to pledge money to the winners or to any QPCA nominee. For example, you can pledge $5 to the winner of the IT Award or you can pledge $5 to any QPCA nominee for their outstanding work. The best part? There are no fees or commissions. </li>
    </ul>
    <p>Now let's explain your feed. You can read content from all QPCA nominees and easily see where each nominee is nominated. This is so you can make the best choice as to who deserves the QPCA Award. </p>
    <button type="button" class="gotovote" name="button">Vote!</button>
  </body>
  <script type="text/javascript" src="/assets/list.js"> </script>

</html>
