<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Just Like Any Other Login Button. But Fool-Proof </h1>
    <form action="/verify" method="post">
      <input type="text" name="link" value="Your Quora Profile Link">
      <input type="text" name="pcode" value="Your Password">
      <button type="submit" name="button">Sign In And Enjoy the Magic</button>
    </form>
  </body>
</html>
